

* {
  box-sizing: border-box;
  font: bold 14px Arial, sans-serif;
}

.main-div {
  width: 320px;
  margin: auto;
  background: #3F475B;
  height: 410px;
  box-shadow: 2px 2px 2px gray;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}
