header {
  height: 50px;
  border: 1px solid black;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;;
  align-content: center;
  background-color: #4378e8;
}

.titulo {
  font-size: 25px;
  margin:auto;
  color: #a6a6a6;
}

.boton-reiniciar {
  position: absolute;
  left: 12px;
  top: 58px;
}
